[submodule "third_party/test/googletest"]
	path = third_party/test/googletest
	url = https://chromium.googlesource.com/external/googletest

[submodule "third_party/jinja2"]
	path = third_party/jinja2
	url = https://github.com/mitsuhiko/jinja2.git
